../Modules/layers/
../Modules/lambda_code/
Modules/layers/
Modules/lambda_code/
.terraform/*
.terraform.*
../Modules/Deployment/.terraform/*

../Modules/lambda-docker-terraform/.terraform/*
../Modules/lambda-docker-terraform/.terraform.*
../Modules/lambda-docker-terraform/terraform.*
.venv